/* 
    Created on : 2-aug-2014, 18:48:22
    Author     : Jan
*/

.availcal   {
    width: 100%;
}

.table_pos 	{
	display:inline-table;	
	margin-bottom:5px;
	vertical-align:top;        
}

.cal_month 	{
	text-align:center;
}
.cal_post	{	
	background-color:#F00;
	text-align:center;
}
.cal_empty	{
	text-align:center;
}
.cal_today	{
	text-align:center;
	background-color:#CCC;
}
.weeknbr {
	background-color: #eee;
	text-align:center;
        width: 27px;
}
.cal_title	{
	text-align:center;
}

.text_busy	{
	color:#F00;
	text-align:center;
}
.hidden	{
	display:none;
}
.availcal .table_pos td {
	text-align:center;	
	padding:2px;	
}
.availcal .table_pos td.left{
    text-align: left;
}
.availcal .table_pos td.right{
    text-align: right;
}
.cel_hidden{
    visibility: hidden;
}
.textprice {
    font-size: 0.7em;
    font-weight: bold;
}
.empty_row  {
  font-size: 0.1em;
}
